# Files that should not be committed

# Environment variable files
.env
.env.*
!.env.example
.flaskenv
config.py

# Python Virtual Environments
.venv/
venv/
env/
ENV/

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Flask-specific instance folder (contains local configs/databases)
instance/

# Local databases (e.g., SQLite)
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db
desktop.ini

# .vscode/settings.json not ignored to ensure code style uniformity
.vscode/*
!.vscode/settings.json
