<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask MySQL Demo</title>
  </head>
  <body>
    <div>
      <h1>Results Testing Page</h1>
      <strong>Eventually this page will go away so that Flask only returns JSON to the React app.</strong>

      <form method="get" action="/" class="mb-3">
        <div>
          <input type="text" name="q" value="{{ q|default('') }}" placeholder="Search for something"/>
          <button class="btn btn-primary" type="submit" value="submit">Search</button>
        </div>
      </form>

      {% if error %}
        <div class="alert alert-danger">{{ 'Error: ' ~ error }}</div>
      {% endif %}

      {% if results %}
        <!-- Get the columns from this query -->
        {% set columns = results[0].keys()|list %}
        <table class="table table-striped">
          <thead>
            <tr>
              {% for c in columns %}
                <th>{{ c }}</th>
              {% endfor %}
            </tr>
          </thead>
          {% for row in results %}
            <tr>
              {% for c in columns %}
                <td>{{ row[c] }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      {% elif q %}
        <p>{{ 'No results found for: ' ~ q }}</p>
      {% endif %}
    </div>
  </body>
</html>
